.derp {
	box-shadow: 10px 10px 5px #888888;
	border-radius: 50%;
}

img a:hover {
	box-shadow: 10px 10px 5px #D5CF42;
	border-radius: 50%;
}

.highlighted {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}

.title {
	font-size: 10px;

}

#imageContainer {
    background: url('http://letsbuilditagain.com/images/btn_rightarrow.jpg') no-repeat;
    height: 50px;
    width: 100%;
}